<h2><%= @character.name %> </h2>
  <h3><%= link_to "Edit Character", edit_house_character_path(@character) %></h3>
<img class = "character-img" src = "<%= @character.photo_url %>">
<p> Is alive? </p> <p> <%= @character.is_alive %> </p>
